@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.weather-data > .col-lg-12 #date {
  font-size: 1.7em;
  color: #3888ff;
  font-weight: bolder;
}
.weather-data > .col-lg-12 #time {
  font-size: 1.9em;
  color: #3888ff;
  font-weight: bolder;
}
.weather-data > .col-lg-3 > .card {
  border: 1px solid rgba(69, 69, 69, 0.1);
}
.weather-data > .col-lg-3 > .card > .card-body > .row > .col-9 > .card-title {
  font-family: 'Mulish', sans-serif;
  font-size: 1em;
}
.weather-data > .col-lg-3 > .card > .card-body > .row > .col-9 > .card-text {
  font-family: 'Mulish', sans-serif;
  font-weight: bolder;
  color: #1a1e21;
  font-size: 1.1em;
}
body {
  font-family: 'Mulish', sans-serif;
}
/*.onHoverFade:hover{
  fill: #323232;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
}*/
.rotate {
  transition: transform .8s ease-in;
}

.rotate:hover {
  transform: rotate(360deg);
}
